.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--website-width);
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: solid 1.25px var(--border-color);
}

.navbar__logo {
  text-decoration: none;
  color: var(--second-color);
}

.navbar__logo_font {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.navbar__logo_sec {
  font-size: 0.5rem;
  position: relative;
  bottom: 0.65rem;
  left: 5.75rem;
}

.navbar__menu {
  display: flex;
}
.navbar__links {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--second-color);
  border-bottom: 1.25px solid var(--main-color);
  transition: border-bottom ease-in-out 0.5s;
}

.navbar__links:hover {
  border-bottom: solid 1.25px var(--border-color);
}

.navbar__menu li:first-child {
  padding-right: 2rem;
}

.navbar__menu li:hover {
  text-decoration: none;
  cursor: pointer;
}

.badge {
  margin-left: 1rem;

  color: var(--red-color);
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .navbar__linkOne {
    display: none;
  }
}
