.box {
  padding: 1rem;
  width: auto;
  transition: box-shadow 0.5s;
  width: 272px;
}

.box__image {
  height: 240px;
  width: 240px;
  object-fit: cover;
}

.box__title {
  padding-top: 1rem;
}

.box:hover {
  box-shadow: 0 0 15px var(--border-color);
}

.box__btn {
  padding: 0.5rem;
  background: var(--main-color);
  border: solid 1px var(--border-color);
  transition: background 0.5s;
}

.box__btn:hover {
  background: var(--second-color);
  color: var(--main-color);
}

.box__btn:active {
  border: 1px var(--main-color) dashed;
}
